<h2>Reproduction steps</h2>
<ol>
	<li>Uncheck one of the <b>Show &lt;control&gt;</b> checkboxes</li>
	<li>Click <b>Reset Form</b> button to patch the values of the form</li>
	<li>
		Observe error in console every time you click <b>Reset Form</b>:
		<pre class="error">
TypeError: Cannot read property 'value' of null
    at RadioButtonComponent.e.twoWaySetter (form-base.js:58)</pre>
	</li>
</ol>

<form [formGroup]="form">
	<div class="component">
		<div>
			<ejs-checkbox formControlName="showCheckBox" label="Show CheckBox"></ejs-checkbox>
		</div>
		<div *ngIf="form.get('showCheckBox').value" class="item">
			<div>
				<ejs-checkbox formControlName="checkBox" label="Checked"></ejs-checkbox>
			</div>
		</div>
	</div>
	<div class="component">
		<div>
			<ejs-checkbox formControlName="showNumericTextBox" label="Show NumericTextBox"></ejs-checkbox>
		</div>
		<div *ngIf="form.get('showNumericTextBox').value" class="item">
			<div>
				<ejs-numerictextbox formControlName="numericTextBox" floatLabelType="Auto" cssClass="e-outline"
					maxlength="10" format="#" placeholder="Numeric Text Box" [decimals]="0"
					[validateDecimalOnType]="true" [showSpinButton]="false"></ejs-numerictextbox>
			</div>
		</div>
	</div>
	<div class="component">
		<div>
			<ejs-checkbox formControlName="showRadio" label="Show Radio Button"></ejs-checkbox>
		</div>
		<div *ngIf="form.get('showRadio').value" class="item">
			<div>
				<ejs-radiobutton formControlName="radio" label="Value: A" value="a"></ejs-radiobutton>
			</div>
			<div>
				<ejs-radiobutton formControlName="radio" label="Value: B" value="b"></ejs-radiobutton>
			</div>
		</div>
	</div>
	<div class="component">
		<div>
			<ejs-checkbox formControlName="showTextBox" label="Show TextBox"></ejs-checkbox>
		</div>
		<div *ngIf="form.get('showTextBox').value" class="item">
			<div>
				<ejs-textbox formControlName="textBox" floatLabelType="Auto" cssClass="e-outline" maxlength="10"
					format="#" placeholder="Text Box"></ejs-textbox>
			</div>
		</div>
	</div>
</form>

<div>
	<button ejs-button (click)="resetForm()">
    Reset Form
  </button>
</div>

<pre>form.value = {{ form.value | json }}</pre>